<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Flask User Portal
        {% endblock %}
    </title>
</head>

<body>

    <h2>Flask User Portal</h2>

    <p>
        <a href="{{ url_for('register') }}">
            Register
        </a>

        {% if session.get("user_id") %}

            |
            <a href="{{ url_for('profile') }}">
                Profile
            </a>

            |
            <a href="{{ url_for('logout') }}">
                Log Out
            </a>

        {% else %}

            |
            <a href="{{ url_for('login') }}">
                Log In
            </a>

        {% endif %}
    </p>

    <hr>

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <p>
                    <strong>
                        {{ message }}
                    </strong>
                </p>

            {% endfor %}

        {% endif %}

    {% endwith %}


    {% block content %}
    {% endblock %}

</body>

</html>