{% extends "base.html" %}

{% block title %}
Login
{% endblock %}


{% block content %}

<h1>Login</h1>

<p>
    Enter your username and password
    to retrieve your information.
</p>


<form method="POST">

    <p>

        <label for="username">
            Username:
        </label>

        <br>

        <input
            type="text"
            id="username"
            name="username"
            required
        >

    </p>


    <p>

        <label for="password">
            Password:
        </label>

        <br>

        <input
            type="password"
            id="password"
            name="password"
            required
        >

    </p>


    <p>

        <button type="submit">
            Log In
        </button>

    </p>

</form>


<p>

    Need an account?

    <a href="{{ url_for('register') }}">
        Register here
    </a>

</p>

{% endblock %}