{% extends "base.html" %}

{% block title %}
User Information
{% endblock %}


{% block content %}

<h1>User Information</h1>

<p>
    The information entered during registration
    is shown below.
</p>


<h3>Basic User Details</h3>


<p>
    <strong>First Name:</strong>
    {{ user["first_name"] }}
</p>


<p>
    <strong>Last Name:</strong>
    {{ user["last_name"] }}
</p>


<p>
    <strong>Email:</strong>
    {{ user["email"] }}
</p>


<p>
    <strong>Address:</strong>
    {{ user["address"] }}
</p>


<h3>Uploaded File</h3>


{% if user["original_filename"] %}

    <p>

        <strong>File Name:</strong>

        {{ user["original_filename"] }}

    </p>


    <p>

        <strong>Word Count:</strong>

        {{ user["word_count"] }}

    </p>


    <p>

        <a href="{{ url_for('download_file') }}">

            <button type="button">
                Download Uploaded File
            </button>

        </a>

    </p>


{% else %}

    <p>
        No uploaded file was found.
    </p>

{% endif %}


<hr>


<p>

    <a href="{{ url_for('logout') }}">
        Log Out
    </a>

</p>

{% endblock %}