{% extends "base.html" %}

{% block title %}
Registration
{% endblock %}


{% block content %}

<h1>Registration</h1>

<p>
    Please enter your account and personal information.
</p>


<form
    method="POST"
    enctype="multipart/form-data"
>

    <h3>Account Information</h3>


    <p>

        <label for="username">
            Username:
        </label>

        <br>

        <input
            type="text"
            id="username"
            name="username"
            required
        >

    </p>


    <p>

        <label for="password">
            Password:
        </label>

        <br>

        <input
            type="password"
            id="password"
            name="password"
            required
        >

    </p>


    <h3>Basic User Details</h3>


    <p>

        <label for="first_name">
            First Name:
        </label>

        <br>

        <input
            type="text"
            id="first_name"
            name="first_name"
            required
        >

    </p>


    <p>

        <label for="last_name">
            Last Name:
        </label>

        <br>

        <input
            type="text"
            id="last_name"
            name="last_name"
            required
        >

    </p>


    <p>

        <label for="email">
            Email:
        </label>

        <br>

        <input
            type="email"
            id="email"
            name="email"
            required
        >

    </p>


    <p>

        <label for="address">
            Address:
        </label>

        <br>

        <input
            type="text"
            id="address"
            name="address"
            required
        >

    </p>


    <h3>File Upload</h3>


    <p>

        <label for="file">
            Upload Limerick (1).txt:
        </label>

        <br>

        <input
            type="file"
            id="file"
            name="file"
            accept=".txt,text/plain"
            required
        >

    </p>


    <p>

        <button type="submit">
            Register
        </button>

    </p>

</form>


<p>

    Already registered?

    <a href="{{ url_for('login') }}">
        Log in here
    </a>

</p>

{% endblock %}